@{
    ViewBag.Title = "_video";
    Layout = "~/Views/Shared/video.cshtml";
}

<h2>_video</h2>

<div id="basic" style="text-align:center;margin-bottom: 50px;" class="row copy">Send your URL to a friend to start a video call</div>

<div class="row">
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-5">
        <video id="localVideo" autoplay class="videostream" muted preload="metadata" loop></video>
    </div>
    <div class="col-xs-12 col-md-1"></div>
    <div class="col-xs-12 col-md-5">
        <video id="remoteVideo" autoplay></video>

    </div>
</div>




